.header {
    font-size: 32px;
}

.thirdBlock {
    display: flex;
    align-items: center;
    padding: 2rem;
    width: 1216px;
    margin: 0 auto;
    justify-content: space-between;
}

.textSection {
    padding: 1rem;
}

.textSection h2 {
    margin-bottom: 1rem;
}

.textSection p {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-family: "Graphik Light", serif;
    color: rgba(94, 100, 106, 1);

}

.imageSection {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


.menImage {
    width: 592px;
    height: 448px;
    position: absolute;
}

.truckImage {
    width: 592px;
    height: 448px;
}

@media screen and (max-width: 768px) {
    .thirdBlock {
        width: 727px;
        box-sizing: border-box;
    }
    .menImage {
        width: 351px;
        height: 265px;
        position: absolute;
    }
    .truckImage {
        width: 351px;
        height: 265px;
    }
}

@media screen and (max-width: 375px) {
    .textSection h2 {
        font-size: 20px;
        margin-bottom: 1rem;
        text-align: center;
    }

    .thirdBlock {
        width: 342px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column-reverse
    }
    .menImage {
        width: 342px;
        height: 258px;
        position: absolute;
    }
    .truckImage {
        width: 342px;
        height: 258px;
    }
    .textSection {
        padding: 0;
    }

}

@media screen and (max-width: 320px) {
    .textSection h2 {
        font-size: 20px;
        margin-bottom: 1rem;
        text-align: center;
    }

    .thirdBlock {
        width: 288px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column-reverse
    }
    .menImage {
        width: 288px;
        height: 217px;
        position: absolute;
    }
    .truckImage {
        width: 288px;
        height: 217px;
    }
    .textSection {
        padding: 0;
    }

}